<div class="container mt-5">
    <div class="card">
      <div class="card-header"><h5 class="w-75 d-inline-block">Edit <%= resource_name.to_s.humanize %></h5>
        <div class=" d-inline-block text-right"><i class="fas fa-eye"></i></div>
        <%= link_to 'View', freelancer_path(resource.id) %>
      </div>
      <div class="card-body">
        <div class="card-content">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
            <%= render(:partial => resource_name.to_s.downcase, :locals => {:f => f})   %>
          <% end %>
        </div>
      </div>
      <div class="card-footer text-muted">
        <%= link_to "Back", :back, class: 'btn btn-dark btn-sm' %>
      </div>
    </div>
</div>


              <%# if  client_signed_in?  %>
              <%#= render(:partial => 'client', :locals => {:f => f})   %>
              <%# else %>
              <%#= render(:partial => 'freelancer', :locals => {:f => f})  %>
              <%#end  %>