    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Title:</label>
      <div class="col-sm-8">
        <%= f.text_field :title, placeholder: 'Enter Job Title', class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Description:</label>
      <div class="col-sm-8">
        <%= f.text_area :description, placeholder: 'Enter description about Job', class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Skills:</label>
      <div class="col-sm-8">
        <%= f.select :skill_ids,  Skill.pluck(:name, :id), {}, multiple: true, class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Started Date:</label>
      <div class="col-sm-8">
        <%= f.date_field :start_date, placeholder: 'Enter start date', class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Ended Date:</label>
      <div class="col-sm-8">
        <%= f.date_field :end_date, placeholder: 'Enter end date', class: "form-control" %>
      </div>
    </div>