<div class = "container">
  <h1>Jobs</h1>
  <%= link_to 'Create New Job', new_clients_job_path, class: 'btn btn-dark btn-sm mb-2' %>

  <div class="row mt-3">
    <% @jobs.each do |job| %>
      <div class="card mt-5">
        <div class="card-body mt-3">
          <h5 class="card-title"> <%= job.title %></h5>
          <hr>
          <p class="font-weight-bold">Description:</p>
          <div class="card-text"> <%= job.description %></div>
          <div class="card-text mt-4">
            <span class="font-weight-bold">Skills: </span><%= job.skills.map(&:name).map(&:capitalize).join(' | ') %>
          </div>
          <div class="card-text mt-4"> <span class="font-weight-bold">Start Date:   </span> <%= job.start_date.strftime("%d %b %Y") %>
            <span class="font-weight-bold ml-4">   End Date:    </span>  <%= job.end_date.strftime("%d %b %Y") %>
          </div>
          <%= link_to 'Destroy', clients_job_path(job), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm mr-1 float-right" %>
          <%= link_to 'Edit', edit_clients_job_path(job), class: "btn btn-outline-primary btn-sm mr-1 float-right" %>
          <%= link_to 'View', clients_job_path(job), class: "btn btn-outline-info btn-sm mr-1 float-right" %>
        </div>
      </div>
    <% end %>
  </div>
</div>







