  <div class="container mt-5">
                                    <!-- search box-->
    <div class="row">
      <div class=" <%= freelancer_signed_in? ? 'col-9' : 'col-12' %>">
        <%= form_tag freelancers_jobs_path, method: 'get' do %>
          <div class="row">
              <div class="col-6">
                <%= text_field_tag :search, params[:search], class: 'form-control' %>
              </div>
              <div class="col-2">
                <%= select_tag :skills, options_for_select(Skill.all.map {|s| [s.name]}, params[:skills]),{:prompt => '-Skills-',  class: "form-control"} %>
              </div>
              <div class="col-4">
                <%= submit_tag 'Search', class: "btn btn-info" %>
                <%= link_to 'Clear Search', freelancers_jobs_path, class: "btn btn-primary" %>
              </div>
        <% end %>
                                            <!-- card -->

        <div class="row mt-3">
          <div class="col">
            <% @jobs.each do |job| %>
            <div class="card mt-5">
              <div class="card-body mt-3">
                <h5 class="card-title"> <%= job.title %></h5>
                <hr>
                <p class="font-weight-bold">Description:</p>
                <div class="card-text"> <%= job.description %></div>
                <div class="card-text mt-4">
                  <span class="font-weight-bold">Skills: </span><%= job.skills.map(&:name).map(&:capitalize).join(' | ') %>
                </div>
                  <% if freelancer_signed_in? && job.applied?(current_freelancer) %>
                    <%= button_tag 'Applied',  disabled: true, class: 'btn btn-info btn-sm float-right' %>
                  <% else %>
                    <%= link_to 'Apply', new_freelancers_proposal_path(job_id: job.id) , remote: true,  class: 'btn btn-info btn-sm float-right px-3' %>
                  <% end %>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
                              <!-- image-->
      <% if freelancer_signed_in? %>
        <div class="col-3">
          <div class="card border-0 w-75 float-right">
            <div class="row">
              <div class=" offset-3 col-6 text-center p-0">
                <% if current_user.image.attached? %>
                  <%= image_tag current_user.image, class: "w-100 mt-4 rounded-circle", alt: "profile image", data: {target: 'image-preview.image'} %>
                <% else %>
                  <i class="fas fa-user-circle fa-5x" ></i>
                <% end %>
              </div>
            </div>
            <div class="card-body">
              <div class="card-text mt-2 text-center"><%= current_freelancer.first_name.capitalize %></div>
              <div class="card-text mx-2 text-center"><%= current_freelancer.designation&.capitalize %></div>
              <hr>
              <div class="text-center mt-3"><i class="fa-check-circle <%= current_freelancer.proposals.none? ?  'far' : 'fas '%>"></i> <%= current_freelancer.proposals.count %>   <i>Proposals </i></div>
              <div class="text-center"><i class="fa-check-circle <%= current_freelancer.contracts.none? ?  'far' : 'fas '%>"></i> <%= current_freelancer.contracts.count %>  <i> Contracts </i></div>
            </div>
          </div>
      </div>
    <% end %>
  </div>






























</div>